.Hanger {
    width: 50%;
    padding: 16px;
    text-align: left;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
   
}

  .cut-text {
    padding: 50px;
    font-size: 150%;
    position: relative;
    text-transform: uppercase;
    color: white;
   
   
    
  }
  .column {

    float: right;
    width: 30%;
    padding: 16px;
    text-align: left;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 20px;
    box-sizing: border-box;
    background-color: white;
  }
  .text{
      margin: 30px;
      color: white;
      
  }

  .Status{
   margin-left: 68.5%;
   color: white;
   
  }
  .cointainer{
    background-color: steelblue;
}

  