.Dashboard ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 200%;
}

.Dashboard li {
    display: inline-block;
    margin: 20px;
  
}
.container{
    background-color: steelblue;
}
